/* start of general section */
:root {
  --main-color-gray: #F7F7F7;
  --main-color-black: #1C1C1C;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
.navbar-brand {
  font-family: "Montserrat", sans-serif;
 
}



.main-header h1 {
  font-weight: 900;
  font-size: 40px;
  z-index: 2;


}

.main-header::after {
  content: "";
  position: absolute;
  background-image: url(../images/dots.png);

  width: 100%;
  height: 47%;
}



.main-header .pointer {
  width: 210px;
  top: 55%;
  
}

.main-header .pointer p {
  color: #E7E7E7;
}

/* end of jeniral section */




/* start of navbar */
nav .navbar-nav .nav-link.active,
nav .navbar-nav .nav-link.show {
  color: white;
  position: relative;
}



nav .navbar-brand {
  margin-left: 150px;
}


@media screen and (min-width: 140px) and (max-width: 780px) {
  nav .navbar-brand {
    margin-left: 10px;
  }
}

nav .navbar-nav .nav-link.active::after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

nav .nav-link {
  color: #fff;
}


/* end of navbar */

/* start of home section */
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url(../images/bg.jpg);
  height: 100vh;

  background-size: cover;

}

#home .home-caption h5 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}

#home .home-caption h1 {
  font-weight: 100px;
  font-size: 60px;
}



#home .home-caption h1 span {
  position: relative;

}

#home .home-caption h1 span::before {
  content: "";
  animation: words 7s infinite;

}

@media screen and (min-width: 140px) and (max-width: 780px) {
  #home .home-caption h1  {
    font-size: 30px;
  }
}


#home .home-caption h1 span::after {
  content: "";
  width: calc(100% + 8px);
  height: 100%;
  position: absolute;
  background-color: transparent;
  border-left: 2px solid;


  right: -8px;
  animation: typing 7s infinite;
}




@keyframes words {
  0%, 3% {
    content: "";
  }

  /* كتابة Abdelrhman */
  2% { content: "A"; }
  4% { content: "Ab"; }
  6% { content: "Abd"; }
  8% { content: "Abde"; }
  10% { content: "Abdel"; }
  12% { content: "Abdelr"; }
  14% { content: "Abdelrh"; }
  16% { content: "Abdelrhm"; }
  18% { content: "Abdelrhman"; }

  /* مسح Abdelrhman */
  20% { content: "Abdelrhm"; }
  22% { content: "Abdelrh"; }
  24% { content: "Abdelr"; }
  26% { content: "Abdel"; }
  28% { content: "Abde"; }
  30% { content: "Abd"; }
  32% { content: "Ab"; }
  34% { content: "A"; }
  36% { content: ""; }

  /* كتابة Front-end Developer */
  38% { content: "F"; }
  40% { content: "Fr"; }
  42% { content: "Fro"; }
  44% { content: "Fron"; }
  46% { content: "Front"; }
  48% { content: "Front-"; }
  50% { content: "Front-end "; }
  53% { content: "Front-end D"; }
  56% { content: "Front-end De"; }
  58% { content: "Front-end Dev"; }
  60% { content: "Front-end Deve"; }
  62% { content: "Front-end Devel"; }
  64% { content: "Front-end Develo"; }
  65% { content: "Front-end Develop"; }
  67% { content: "Front-end Develope"; }
  69% { content: "Front-end Developer"; }
  71% { content: "Front-end Develope"; }
  72% { content: "Front-end Develo"; }
  74% { content: "Front-end Devel"; }
  76% { content: "Front-end Deve"; }
  77% { content: "Front-end Dev"; }
  79% { content: "Front-end De"; }
  80% { content: "Front-end D"; }
  82% { content: "Front-end "; }
  84% { content: "Front-end"; }
  86% { content: "Front-en"; }
  88% { content: "Front-e"; }
  90% { content: "Front-"; }
  92% { content: "Front"; }
  94% { content: "Fron"; }
  96% { content: "Fro"; }
  98% { content: "Fr"; }
  99% { content: "F"; }
  100% { content: ""; }
}





@keyframes typing {

  0%,
  30%,
  50%,
  70%,
  90%,
  100% {
    width: 0;

  }


}




#home .home-icons .icon {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
}

#home .home-icons .icon i {
  color: white;
  font-size: 12px;
}



/* end of home section */

/* start of about section */
#about .col-md-6 .sup-title {
  color: #999;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;

}

#about .col-md-6 p {
  line-height: 1.6;
  margin: 0;
  font-size: 15px;
  color: #748182;
}

#about .col-md-5 .points {
  width: 90%;

}




#about .col-md-5 .points .image {

  width: 90%;
  left: 40px;
  bottom: 120px;
}


#about .col-md-5 .points .image::before {
  content: "";
  position: absolute;
  background-image: url(../images/dots.png);


  width: 6%;
  height: 70%;
  right: 100%;
  bottom: 0;

}

#about .col-md-5 .points .image::after {
  content: "";
  position: absolute;
  background-image: url(../images/dots.png);


  top: 101%;
  right: 21%;
  height: 6%;
  width: 85%;
}



#about .col-md-6 .div1 .div2 {
  width: 95%;
  background-color: #1C1C1C;

}

#about .col-md-6 .div1 .div3 {
  width: 80%;
  background-color: var(--main-color-black);
}

#about .col-md-6 .div1 .div4 {
  width: 90%;
  background-color: var(--main-color-black);
}

#about .col-md-6 .b1 {
  border-radius: 5px;
  background-color: var(--main-color-black);
  color: #fff;
  transition: 0.5s all;
  border: 1px solid var(--main-color-black);

}

#about .col-md-6 .b1:hover {
  background-color: #fff;
  color: #1C1C1C;

}


#about .col-md-6 .b2 {
  border-radius: 5px;
  background-color: #fff;
  color: var(--main-color-black);
  border: 1px solid var(--main-color-black);
  transition: 0.5s all;
}

#about .col-md-6 .b2:hover {
  background-color: var(--main-color-black);
  color: #fff;

}


/* end of about section */

/* start of services section */

#services {
  background-color: var(--main-color-gray);
}

#services .inner {

  width: 100%;

}

#services .inner h1 {
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 22px;
}

#services .icon {
  background-color: var(--main-color-gray);
  width: 70px;
  height: 70px;
  transition: 0.5s all;
}

#services .inner .icon i {
  font-size: 25px;
  transition: 0.5s all;
}

#services .inner p {
  word-spacing: 2px;
  font-size: 16px;
  color: #748182;
  padding: 10px;

}

#services .inner:hover .icon {
  background-color: var(--main-color-black);
}

#services .col-md-4 .inner:hover i {
  color: #fff;
}







/* end of services section */

/* start of works section */
#works .nav-tabs {
  border: none;
}

#works .nav-tabs .nav-link {
  border: none;
  color: var(--main-color-black);
  font-weight: 700;
}

#works .nav-tabs .nav-item.nav-link.show .nav-link,
#works .nav-tabs .nav-link.nav-link.active {
  color: var(--main-color-black);
  position: relative;
}

#works .nav-tabs .nav-item.nav-link.show .nav-link,
#works .nav-tabs .nav-link.nav-link.active::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: var(--main-color-black);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

#works .row .col-md-4 .inner {
  width: 100%;
  
  

}

#works .row .col-md-4 .inner .layer {
  width: 97%;
  height: 97%;
  background-color: white;
  opacity: 0;
  top: 5%;
  transition: 0.5s all;

}

#works .row .col-md-4 .inner .layer h6 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 15px;

}

#works .row .col-md-4 .inner .layer .con1 {
  width: 30px;
  height: 30px;
  background-color: var(--main-color-black);
  border: 1px solid var(--main-color-black);
  cursor: pointer;



}

#works .row .col-md-4 .inner .layer .con1 i {
  color: #fff;
  font-size: 13px;

}

#works .row .col-md-4 .inner:hover .layer {
  opacity: 1;
  top: 1.5%;
}
#works img{
    height: 350px;
   object-fit: cover;
   background-position: center;
   background-size: cover;
}
#works .row .col-md-4 .inner .con1 {
  width: 30px;
  height: 30px;
  background-color: var(--main-color-black);
  border: 1px solid var(--main-color-black);
  cursor: pointer;
}

#works .row .col-md-4 .inner .con1:hover {
  background-color: #fff;
}

#works .row .col-md-4 .inner .con1:hover i {
  color: var(--main-color-black);
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

/* Modal content box */
.modal-content {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  animation: fadeIn 0.3s ease;
}

/* Close button */
.modal .close {
  position: absolute;
  top: 15px;
  right: 25px;
  color: #333;
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
}

.modal .close:hover {
  color: var(--main-color-black);
}

/* Fade in animation */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

/* start of works section */

#clients {
  background-color: var(--main-color-gray);
}

#clients .container .col-md-10 .image {
  height: 90px;
  width: 90px;

}

#clients .container .col-md-10 p {
  color: #748182;
}

#clients .container .col-md-10 .pp {
  font-size: 13px;
}

#clients .carousel-indicators .active {
  background-color: #869791;
  width: 10px;
  height: 10px;
}

#clients .carousel-indicators button {
  width: 10px;
  height: 10px;
  background-color: #999;
}

#clients .carousel-indicators button:hover {
  background-color: #869791;
}

/* start of clients section */

/* start of rang section */
#rang .container .inner {
  width: 85%;
}

#rang .container .inner i {
  font-weight: bold;
}


#rang .container .inner h2 {
  font-weight: 900;
}

#rang .container .inner p {
  font-weight: bolder;
  color: #748182;
}

/* start of rang section */


/* start of team section */

#team {
  background-color: var(--main-color-gray);
}

#team .container .inner {
  width: 90%;
}

#team .container .inner .sum {
  width: 95%;
  background-color: #5B5B5B;
}

#team .container .inner .sum h3 {
  color: #fff;
}

#team .container .inner .sum .layer {
  width: 97%;
  height: 97%;
  background-color: rgba(254, 254, 254, 0.93);
  top: 1.5%;
  left: 1.5%;
  opacity: 0;
  transition: 0.5s all;

}

#team .container .inner .sum:hover .layer {
  opacity: 1;
  transform: rotatey(180deg);
}

#team .container .inner .sum .image img {
  transition: 0.5s all;

}

#team .container .inner .sum .image {
  overflow: hidden;
}

#team .container .inner .sum .image:hover img {
  transform: scale(1.2);
}

#team .container .inner .sum .layer .icon {
  width: 40px;
  height: 40px;
  background-color: var(--main-color-black);
  border: 1px solid var(--main-color-black);
}

#team .container .inner .sum .layer .icon i {
  color: #fff;
  transform: rotatey(180deg);
}

#team .container .inner .sum .layer .icon:hover {
  background-color: #fff;
}

#team .container .inner .sum .layer .icon:hover i {
  color: var(--main-color-black);
}



/* end of team section */



/* start of contact section */

#contact .inner {
  width: 70%;
}

#contact .inner .sum .icons {
  width: 60px;
  height: 60px;
  background-color: var(--main-color-gray);
  transition: 0.5s all;
}

#contact .inner .sum h5 {
  font-weight: bold;
  font-size: 18px;
}

#contact .inner .sum p {
  color: #868182;
  margin-bottom: 0;
}

#contact .inner .sum:hover .icons {
  background-color: var(--main-color-black);
}

#contact .inner .sum i {
  transition: 0.5s all;
}

#contact .inner .sum:hover i {
  color: var(--main-color-gray);
}

#contact .inner .name {

  height: 40px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 5px;
}

#contact .inner .email {

  height: 40px;
  background-color: #F4F4F4;
  border: none;
  border-radius: 5px;
}

#contact .inner textarea {
  width: 100%;

  height: 150px;
  max-height: 150px;
  border: none;
  border-radius: 5px;
  box-sizing: 0;
  background-color: #F4F4F4;
}

#contact .inner button {
  width: 130px;
  border: 1px solid var(--main-color-black);
  background-color: var(--main-color-black);
  border-radius: 5px;
  color: #fff;
  transition: 0.5s all;
}

#contact .inner button:hover {
  background-color: #fff;
  color: var(--main-color-black);
}

#contact .blackdiv {
  background-color: var(--main-color-black);
  width: 100%;

}

#contact .blackdiv p {
  color: #748175;
  font-size: 14px;
}

/* end of contact section */



/* universe io */

/* From Uiverse.io by alexruix */ 
.card {
  width: 100%;
  height: 630px;
  position: relative;
  background: #f5f5f5;
  color: #252525;
  border-radius: 4px;
  line-height: 150%;
  box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
  transition: box-shadow .3s ease-in-out;
  
}
#imgme{
  background-position: center;
  background-size: cover;
}

.card-info {
  position: absolute;
  bottom: 1em;
  width: 100%;
  text-align: center;
}

/* Image */
.card-img {
  
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform .3s ease-in-out;
  z-index: 2;
}

/* Buttons */
.social-media {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  transform: translateY(-6em);
  z-index: 3;
}
.social-media li:hover {
  background-color: #1C1C1C;
}

.social-media li:hover a{
  color: white;
}


.social-media li {
  background: #f5f5f5;
  display: inline-flex;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .3s ease-in;
}
/* Icons */
.social-media li a {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  fill: #252525;
  color: black;

  
  

}

/* Texts */
.title {
  font-size: 1.5em;
  font-weight: bold;
}

.subtitle {
  letter-spacing: 1px;
  font-size: 0.9em;
}


/* Hovers */
.card:hover {
  box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
}

.card:hover .card-img {
  transform: translateY(-6em);
}

.card:hover .social-media li {
  transform: translateY(-5%);
  opacity: 1;
}


.card:hover .social-media li:nth-child(1) {
  transition-delay: 0s;
}

.card:hover .social-media li:nth-child(2) {
  transition-delay: .1s;
}

.card:hover .social-media li:nth-child(3) {
  transition-delay: .2s;
}


/* progress */


/* From Uiverse.io by Juanes200122 */ 
.div1 {
  max-width: 500px;
  width: 100%;
}

.div1 .skill-box {
  width: 100%;
  margin: 30px 0;
}

.skill-box .title {
  font-size: 14px;
  font-weight: 1000;
  color: black;
}

.skill-box .skill-bar {
  position: relative;
  height: 20px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: gray;
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 0; /* البداية صفر علشان الأنيميشن يبدأ من الصفر */
  border-radius: 6px;
  background: black;
  opacity: 0;
}

.skill-per.html.animate {
  animation: progressHtml 2s forwards;
}
.skill-per.scss.animate {
  animation: progressCss 2s forwards;
}
.skill-per.javaScript.animate {
  animation: progressJs 2s forwards;
}
.skill-per.react.animate {
  animation: progressReact 2s forwards;
}
.skill-per.next.animate {
  animation: progressNext 2s forwards;
}

/* أنيميشن كل سكيل */
@keyframes progressHtml {
  0% { width: 0; opacity: 1; }
  100% { width: 90%; opacity: 1; }
}

@keyframes progressCss {
  0% { width: 0; opacity: 1; }
  100% { width: 85%; opacity: 1; }
}

@keyframes progressJs {
  0% { width: 0; opacity: 1; }
  100% { width: 80%; opacity: 1; }
}

@keyframes progressReact {
  0% { width: 0; opacity: 1; }
  100% { width: 90%; opacity: 1; }
}

@keyframes progressNext {
  0% { width: 0; opacity: 1; }
  100% { width: 70%; opacity: 1; }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: bold;
  color: black;
  padding: 2px 6px;
  border-radius: 3px;
  background: rgb(226, 226, 226);
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: rgb(226, 226, 226);
  transform: translateX(-50%) rotate(45deg);
}

